<%- include(partials.top) %>
<!-- body starts here -->

<div id="wrapper">
	<div class="" id="alert-box"></div>
	<%- include(partials.modals) %>

	<% if (me) { %>
	<%- include(partials.sidebarLeft) %>
	<div id="page-wrapper">
	<% } else { %>
		<div id="page-wrapper" style="margin:0 !important">
	<% } %>

		<%- include(partials.nav) %>



		<% var pagename = _.isUndefined(pagename) ? 'homepage' : pagename %>

		<div  class="animated fadeInDown">
				<%- include(partials.panel, {pagename: pagename}) %>
		</div>

		<%- include(partials.footer) %>
	</div>

	<%#- include(partials.chatBox) %>
	<%#- include(partials.sidebarRight) %>

</div>
<!-- body ends here -->
<%- include(partials.bottom) %>
