<% var onMobile = ['mobile', 'table'].indexOf(uaData.device.type) > -1 %>

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no"/>
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/img/fb-meta-img.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/png" href="/img/favicon.ico">
  <link rel="alternate" href="" />
  <title><%= _.isString(title) ? title : 'Flatabout | Review Your Flat' %></title>

  <%- include(view('partials/layout/styles')) %>
  <%- include(view('partials/meta/common')) %>
  <%- include(view('partials/meta/facebook')) %>
  <%- include(view('partials/meta/google')) %>
  <%- include(view('partials/meta/twitter')) %>
  <script src="/js/vendor.js"></script>
  <!-- 
  <script src="/js/nouislider.min.js"></script>
   -->


    <!-- Google Analytics -->



    <!-- End GA Script -->

</head>
<body class="zam-grey">
