<% var goalFormId = componentId('goalForm'+ category.id) %>

<div id="<%= goalFormId %>" data-category="<%= category.id %>" data-type="<%= category.type %>" >
  <script>
  $(function () {
    app.components.goalFormWedding($('#<%= goalFormId %>'));
  });
  </script>

     
  <form id="goal-form" class="steps-container" data-url="<%= genUrl('addgoal') %>" data-user-id="<%= me.id %>">
    <h3 class="text-capitalize">New goal: <%= category.name %></h3>
    <div id="form-steps-container">
      <h3>
      </h3>
      <section>
        <div class="row">
          <div class="col-sm-6">
            <h5 class=""><%= category.questions[0] %></h5>    
            <div class="form-group">
              <div class="list-group children-list">
              <% _.forEach(me.children, function(child){ %> 
                <a href="#" data-name="<%= child.name %>" class="list-group-item"><%= child.name %></a>
              <%}) %>
              </div>
            </div>

            <div class="form-group">
            <h5 class=""><%= category.questions[1] %></h5>    
              <label >Target year</label>
              <input type="text" name="duration" placeholder="target year" class="form-control" list="target-years" required>
              <datalist id="target-years" name="target">
                <% for(var i = 0; i < 9; i++) { %>
                <option><%= 2015 + i %></option>
                <% } %>
              </datalist>
            </div>
          </div>
        </div>
      </section>
      
      <h3>
        
      </h3>
      <section>  
        <div class="col-sm-6">
          <div class="form-group">
          <h5 class=""><%= category.questions[2] %></h5>    
            <input type="number" name="amount" placeholder="amount" class="form-control" required>
            
          </div>
        <div class="row">
          <div class="col-sm-12 padding-30">
            <div class="btn btn-zam pull-left post-form-btn">Add</div>
          </div>
        </div>
      </section>
    </div>
  </form>
</div>