<% var goalFormId = componentId('goalForm'+ category.id) %>

<div id="<%= goalFormId %>" data-category="<%= category.id %>" data-type="<%= category.type %>" >
  <script>
  $(function () {
    app.components.goalFormEducation($('#<%= goalFormId %>'));
  });
  </script>
  
  <form id="asset-form" class="steps-container" data-url="<%= genUrl('addasset') %>" data-user-id="<%= me.id %>">
    <div class="step">
      <div class="row ">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Bank Name</label>
            <select class="form-control" name="name">
              <option >ICICI</option>
              <option >SBI</option>
              <option>KOTAK</option>
              <option>Add Manually</option>
            </select>
          </div>

          <div class="form-group">
            <label>Account Type</label>
            <select class="form-control" >
              <option>Saving</option>
              <option>Current</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 padding-30">
          <div  class="btn btn-zam pull-right step-next-btn">Next</div>
        </div>
      </div>
    </div>
    <div class="step" style="display:none">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Currency</label>
            <select class="form-control" >
              <option>Indian Rupees (INR)</option>
              <option>American Dolar (USD)</option>
              <option>Australian Dolar (AUD)</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Amount</label>
            <input type="number" name="value" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 padding-30">
          <button type="submit" class="btn btn-zam pull-right">Done</button>

        </div>
      </div>
    </div>
  </form>
</div>