<div class="margin-0 padding-top-50 padding-bottom-50 card ">
	<div class="row indigo lighten-4 padding-60" >
	</div>
	<div class="row">
		<div class="text-center col-sm-12 col-md-offset-0 col-md-3 col-md-offset-1">
			<div class="">
				<% if(!_.isNull(user.picture) && !_.isUndefined(user.picture)) { %> 
				<img title="profile image" class="img-circle img-responsive pull-right" src="<%= genUrl(user.picture) %>" style="margin-top: -90px; width: 200px; height:200px; border:2px solid #DEE3E4 ">
				<% } else { %> 
					<img title="profile image" class="img-circle img-responsive" src="<%= genUrl('images/user.png') %>" style="margin: 0 auto">
				<% } %>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="">
				<h2><%= user.full_name %></h2>
				<p>
					<i><%= user.details.bio %></i><br/>
					<small class="text-uppercase">
						<%= user.details.department %>
						<%= user.details.admission_year %> to 
						<%= user.details.passing_year %>
					</small>
				</p>
				<%= user.details.skills %>
			</div>
			<div class="col-sm-12 col-md-3 padding-0 margin-top-20">
				
			<%- include(partials.followBtn) %>
			</div>
			
		</div>
	</div>
</div>
