
<!-- data and keys required , look at fn/fake.table -->
<!-- keys will become header and object's values for keys go to row -->


<% var tableId = componentId('table') %>

<div id="<%= tableId %>">
  <script>
    $(function () {
      app.components.table($('#<%= tableId %>'));
    });
  </script>



  <div class="table-responsive">
      <table  class="table table-hover display" cellspacing="0" width="100%" >
          <thead>
          <tr>
          <% _.forEach(keys, function(key) { %>
            <th class="text-capitalize" data-field="<%= key %>"  data-sortable="true"><%= key %></th>
          <% } ) %>

          </tr>
          </thead>
          <tbody>
          <% _.forEach(data, function(row) { %>
          <tr>
            <% _.forEach(keys, function(key) { %>
              <td><%= row[key] %></td>
          <% }) %>
          </tr>
          <% }) %>

          </tbody>
      </table>
  </div>
</div>
