<% var assetFormId = componentId('assetForm') %>
<% var category = assets_categories[cat_id - 1] %>

<div id="<%= assetFormId %>" data-category="<%= cat_id %>" data-type="<%= category.type %>" >
	<script>
	$(function () {
		app.components.assetForm($('#<%= assetFormId %>'));
	});
	</script>


  <div class="card margin-10 animated fadeInUp">
    <div class="padding-25">
			<!-- see the mapping of forms with form id in apps/site/util/form_map -->
			<% var partialFile = ['./', cat_type, '/', cat_id, '.ejs'].join('') %>
			<%- include(partialFile, {category:category}) %>
    </div>
  </div>
</div>
