<% var goalFormId = componentId('goalForm') %>
<% var category = goals_categories[cat_id - 1] %>
<div id="<%= goalFormId %>" data-category="<%= cat_id %>" data-type="<%= category.type %>" >
  <script>
  $(function () {
    app.components.goalForm($('#<%= goalFormId %>'));
  });
  </script>


  <div class="card margin-10 animated fadeInUp">
    <div class="padding-25">
      <!-- see the mapping of forms with form id in apps/site/util/form_map -->
      <% var partialFile = ['./', cat_type, '/', cat_id, '.ejs'].join('') %>
      <%- include(partialFile, {category:category}) %>
    </div>
  </div>
</div>


<!-- 
  <div class="card margin-10 animated fadeInUp">
    <div class="padding-25">
      <form id="goal-form" class="steps-container" data-url="<%= genUrl('addgoal') %>" data-user-id="<%= me.id %>">
        <div class="step">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label >Category</label>
                <select class="form-control" name="category">
                  <option>Children Education</option>
                  <option>House Downpayment</option>
                  <option>Vacation</option>
                  <option>Retirement</option>
                </select>
              </div>

              <div class="form-group">
                <label >Goal Name</label>
								<input type="text" name="name" value="John's High School" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 padding-30">
              <div class="btn-long btn-zam pull-right step-next-btn" >Next</div>

            </div>
          </div>
        </div>
        <div class="step" style="display:none">
        	<div class="row">
        		<div class="col-sm-6">
        		  <div class="form-group">
        		    <label >Amount</label>
                <input type="number" name="amount"  class="form-control" required>
        		  </div>

        		  <div class="form-group">
        		    <label >Target</label>
        		    <select class="form-control" name="target">
									<% for(var i = 0; i < 9; i++) { %>
									<option><%= 2015 + i %></option>
									<% } %>
                 
        		    </select>

        		  </div>
        		</div>
        	</div>
      		<div class="row">
      			<div class="col-sm-8 padding-30">
      		  	<button type="submit" class="btn-long btn-zam pull-right">Done</button>

      			</div>
      		</div>
        </div>
      </form>

    </div>
  </div>
 -->
